.FolderItem {
}

.header {
    display: flex;
}

.header .name {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.children {
    padding-left: 1rem;
}

.delete {
    cursor: pointer;
}